<?xml version="1.0"?>
<config>
    <modules>
        <Reign_Bambora>
            <version>1.2.0</version>
        </Reign_Bambora>
    </modules>
    <frontend>
        <routers>
            <bambora>
                <use>standard</use>
                <args>
                    <module>Reign_Bambora</module>
                    <frontName>bambora</frontName>
                </args>
            </bambora>
        </routers>
        <layout>
            <updates>
                <bambora>
                    <file>bambora.xml</file>
                </bambora>
            </updates>
        </layout>        
    </frontend>
    <global>
        <models>
            <bambora>
                <class>Reign_Bambora_Model</class>
            </bambora>
        </models>
        <blocks>
            <bambora>
                <class>Reign_Bambora_Block</class>
            </bambora>
        </blocks>
        <payment>
            <cc>
                <types>
                    <VI>
                        <code>VI</code>
                        <name>Visa</name>
                        <order>0</order>
                    </VI>
                    <MC>
                        <code>MC</code>
                        <name>MasterCard</name>
                        <order>1</order>
                    </MC>
                    <AE>
                        <code>AE</code>
                        <name>American Express</name>
                        <order>2</order>
                    </AE>
                    <DC>
                        <code>DC</code>
                        <name>Diners Club International</name>
                        <order>3</order>
                    </DC>
                </types>
            </cc>        
        </payment>        
        <helpers>
            <bambora>
                <class>Reign_Bambora_Helper</class>
            </bambora>
        </helpers>
        <resources>
            <reignbambora_setup>
                <setup>
                    <module>Reign_Bambora</module>
                    <class>Reign_Bambora_Model_Resource_Setup</class>
                </setup>
            </reignbambora_setup>
        </resources>
    </global>
    <default>
        <!-- default configuration options for payment -->
        <payment>
            <bambora>
                <active>0</active>
                <model>bambora/method_payment</model>
                <mode>sandbox</mode>
                <order_status>processing</order_status>
                <title>Credit Card (Bambora)</title>
                <cctypes>VI,MC</cctypes>
                <payment_action>1</payment_action>                
                <!--<payment_action>authorize_capture</payment_action>-->
                <allowspecific>0</allowspecific>
                <enable_ssl>1</enable_ssl>
            </bambora>
            <bambora_integrated>
                <active>0</active>                
                <model>bambora/method_integrated</model>
                <mode>sandbox</mode>                
                <order_status>processing</order_status>                
                <title>Bambora Checkout</title>
                <payment_action>1</payment_action>    
                <allowspecific>0</allowspecific>                
            </bambora_integrated>
        </payment>
    </default>
</config>
